*,
::after,
::before {
  box-sizing: border-box;
}

.pop-button {
  position: relative;

  padding: 0.5rem 1rem;
  margin-top: 138px;
  margin-left: 1.25rem;

  font-size: 1.25rem;
  line-height: 1.5;

  color: #ffffff;
  background-color: #dc3545;
  border: 0;
  border-radius: 0.3rem;
}

.pop-button:hover {
  background-color: #c82333;
}

.pop-button:focus {
  box-shadow: rgba(255, 83, 97, 0.5) 0 0 0 0.2rem;
}

.popover {
  position: absolute;
  z-index: 999;

  width: 276px;

  text-align: left;

  color: #212529;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.3rem;

  word-wrap: break-word;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin: 0;

  font-weight: 500;
  font-size: 1rem;

  background: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 4.4px 4.4px 0 0;
}

.popover-body {
  padding: 0.5rem 0.75rem;

  font-size: 0.875rem;

  background: #ffffff;
  border-radius: 0 0 4.4px 4.4px;
}

.arrow {
  position: absolute;
  bottom: calc((0.5rem + 1px) * -1);

  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.arrow::after,
.arrow::before {
  position: absolute;

  display: block;

  border-style: solid;
  border-color: transparent;

  content: '';
}

.arrow::before {
  bottom: 0;

  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0,0,0,0.25);
}

.arrow::after {
  bottom: 1px;

  border-width: 0.5rem 0.5rem 0;
  border-top-color: #ffffff;
}
